<main>

<!-- =======================
Main Banner START -->
<section class="pt-0">
	<!-- Slider START -->
	<div class="swiper overflow-hidden" data-swiper-options='{
		"effect": "fade",
		"speed":"1000",
		"autoplay":{
			"delay": 3000,
			"disableOnInteraction": false
		},
		"pagination":{
			"el":".swiper-pagination",
			"clickable":"true"
		}}'>

		<div class="swiper-wrapper">
			<!-- Slider item -->
			<div class="swiper-slide">
				<div class="card overflow-hidden min-vh-100 rounded-0" style="background:url(assets/images/bg/10.jpg) no-repeat; background-size:cover; background-position:center;">
					<!-- Bg overlay -->
					<div class="bg-overlay bg-linear-overlay"></div>

					<!-- Card image overlay -->
					<div class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9">
						<div class="container">
							<div class="row">
								<div class="col-sm-11 col-lg-8 col-xl-7 text-center m-auto">
									<span class="bg-white bg-opacity-10 text-white small rounded-3 px-3 py-2">🚀 Monétique, Informatique et Technologies</span>
									<!-- Title -->
									<h1 class="text-white display-4 my-4">Leader dans <span class="text-primary"> La Vente, L'Installation et La Maintenance de Guichets Automatiques</span> fourniture de composants informatiques</h1>
									<p class="text-white mb-5"> Migrez vers le nouveau WINDOWS et le nouvel OFFICE. La GED facile et efficace avec M-Files ! </p>
									<a class="btn btn-lg btn-white icon-link icon-link-hover mb-0" href="#">Démarrez votre aventure dès maintenant<i class="bi bi-arrow-right"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Slider item -->
			<div class="swiper-slide">
				<div class="card overflow-hidden min-vh-100 rounded-0" style="background:url(assets/images/bg/09.jpg) no-repeat; background-size:cover; background-position:center;">
					<!-- Bg overlay -->
					<div class="bg-overlay bg-linear-overlay"></div>

					<!-- Content -->
					<div class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9">
						<div class="container">
							<div class="row">
								<div class="col-sm-11 col-lg-8 mt-auto">
									<!-- Title -->
									<h1 class="text-white display-4 mb-4">Libérez le potentiel de votre <span class="fw-light">Business</span> avec <span class="fw-light">Innovation</span></h1>
									<p class="text-white mb-5"> Que vous soyez un passionné de jeux vidéo ou simplement à la recherche d’une évasion extraordinaire, notre produit de réalité virtuelle est votre portail vers une excitation sans limites. </p>
									<a class="btn btn-lg btn-primary icon-link icon-link-hover mb-0" href="#">Passez à l’action maintenant<i class="bi bi-arrow-right"></i> </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Slider Pagination -->
		<div class="swiper-pagination swiper-pagination-line position-absolute bottom-0 mb-3"></div>
	</div>
	<!-- Slider END -->
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
About START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 mx-auto">
				<div class="row g-4 g-lg-5 align-items-center">
					<!-- Years content -->
					<div class="col-md-6 col-lg-4 text-center">
						<div class="icon-xxl bg-primary rounded-circle mx-auto mb-n7" style="width: 150px; height:150px;"></div>
						<span class="heading-color fw-bold" style="font-size: 6rem; line-height: 1.25;"></span>
						<h6 class="w-50 mx-auto">Expertise Monétique</h6>
					</div>

					<!-- Title content -->
					<div class="col-md-6 col-lg-4">
						<h6 class="text-body fw-normal">Présent sur le marché depuis 2011</h6>
						<p>Avec pour ambition d'offrir le meilleur de la monétique en terme de solution, service, et équipements, ADVICE CONSULTING vous aide à maîtriser votre budget et à garantir votre qualité de service à votre clientèle.</p>
					</div>

					<!-- Info content -->
					<div class="col-lg-4">
						<p class="mb-4">Quel que soit votre secteur d'activité, Advice Consulting vous fournit une gamme de produits et services de haute qualité afin de satisfaire vos plus grandes exigences.</p>
						<a href="#" class="btn btn-dark mb-0">Découvrez qui nous sommes</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
About END -->

<!-- =======================
Services START -->
<section class="bg-light overflow-hidden">
	<div class="container">
		<!-- Title and content -->
		<div class="row mb-4 mb-md-6">
			<div class="col-md-6 col-lg-5">
				<h2 class="mb-0">Expertise Monétique</h2>
			</div>

			<div class="col-md-6 col-lg-4 ms-auto">
				<p>Présent sur le marché depuis 2011 avec pour ambition d'offrir le meilleur de la monétique en terme de solution, service, et équipements, ADVICE CONSULTING vous aide à maîtriser votre budget et à garantir votre qualité de service à votre clientèle. </p>

				<!-- Slider arrow -->
				<div class="d-flex gap-3 position-relative mt-3">
					<a href="#" class="btn btn-white border btn-icon rounded-circle mb-0 swiper-button-prev-team"><i class="bi bi-arrow-left"></i></a>
					<a href="#" class="btn btn-white border btn-icon rounded-circle mb-0 swiper-button-next-team"><i class="bi bi-arrow-right"></i></a>
				</div>
			</div>
		</div>

		<!-- Service start -->
		<div class="swiper swiper-outside-end-n20" data-swiper-options='{
			"spaceBetween": 50,
			"loop": false,
			"navigation":{
				"nextEl":".swiper-button-next-team",
				"prevEl":".swiper-button-prev-team"
			},
			"breakpoints": {
				"576": {"slidesPerView": 1},
				"768": {"slidesPerView": 3},
				"992": {"slidesPerView": 3},
				"1200": {"slidesPerView": 4}
			}}'>

			<div class="swiper-wrapper">

				<!-- Service item -->
				<div class="swiper-slide">
					<div class="card card-img-scale bg-body overflow-hidden">
						<!-- Image -->
						<div class="card-img-scale-wrapper">
							<img src="assets/images/services/4by3/01.jpg" class="card-img-top img-scale" alt="service image">
						</div>
						<!-- Card body -->
						<div class="card-body p-4">
							<h6><a href="service-single.html">Équipements monétiques</a></h6>
							<p class="mb-0">Vente et installation d'automates bancaires (GAB-DAB) et d'équipements monétiques. Production et personnalisation de cartes. </p>
						</div>
						<!-- Card footer -->
						<div class="card-footer border-top bg-body p-4">
							<a class="icon-link icon-link-hover stretched-link p-0 m-0" href="#">Explorez ce service<i class="bi bi-arrow-right"></i> </a>
						</div>
					</div>
				</div>

				<!-- Service item -->
				<div class="swiper-slide">
					<div class="card card-img-scale bg-body overflow-hidden">
						<!-- Image -->
						<div class="card-img-scale-wrapper">
							<img src="assets/images/services/4by3/02.jpg" class="card-img-top img-scale" alt="service image">
						</div>
						<!-- Card body -->
						<div class="card-body p-4">
							<h6><a href="service-single.html">Maintenance - Dépannage</a></h6>
							<p class="mb-0">Maintenance d'automates bancaires et d' équipements monétiques. Formation et conseil en monétique.</p>
						</div>
						<!-- Card footer -->
						<div class="card-footer border-top bg-body p-4">
							<a class="icon-link icon-link-hover stretched-link p-0 m-0" href="#">Explorez ce service<i class="bi bi-arrow-right"></i> </a>
						</div>
					</div>
				</div>

				<!-- Service item -->
				<div class="swiper-slide">
					<div class="card card-img-scale bg-body overflow-hidden">
						<!-- Image -->
						<div class="card-img-scale-wrapper">
							<img src="assets/images/services/4by3/03.jpg" class="card-img-top img-scale" alt="service image">
						</div>
						<!-- Card body -->
						<div class="card-body p-4">
							<h6><a href="service-single.html">Consommables, Pièces de rechanges</a></h6>
							<p class="mb-0">Fournissez-vous chez Advice Consulting ! Vente de rouleaux de papier (ticket, journal) de cassettes.</p>
						</div>
						<!-- Card footer -->
						<div class="card-footer border-top bg-body p-4">
							<a class="icon-link icon-link-hover stretched-link p-0 m-0" href="#">Explorez ce service<i class="bi bi-arrow-right"></i> </a>
						</div>
					</div>
				</div>

				<!-- Service item -->
				<div class="swiper-slide">
					<div class="card card-img-scale bg-body overflow-hidden">
						<!-- Image -->
						<div class="card-img-scale-wrapper">
							<img src="assets/images/services/4by3/04.jpg" class="card-img-top img-scale" alt="service image">
						</div>
						<!-- Card body -->
						<div class="card-body p-4">
							<h6><a href="service-single.html">Logiciels</a></h6>
							<p class="mb-0">Fiabilisez et rentabilisez vos équipements monétiques ! Nous vous proposons des solutions supervision, de monitoring et de sécurisation de vos bornes bancaires.</p>
						</div>
						<!-- Card footer -->
						<div class="card-footer border-top bg-body p-4">
							<a class="icon-link icon-link-hover stretched-link p-0 m-0" href="#">Explorez ce service<i class="bi bi-arrow-right"></i> </a>
						</div>
					</div>
				</div>

				<!-- Service item -->
				<div class="swiper-slide">
					<div class="card card-img-scale bg-body overflow-hidden">
						<!-- Image -->
						<div class="card-img-scale-wrapper">
							<img src="assets/images/services/4by3/05.jpg" class="card-img-top img-scale" alt="service image">
						</div>
						<!-- Card body -->
						<div class="card-body p-4">
							<h6><a href="service-single.html">Étude & développement</a></h6>
							<p class="mb-0">Étude de projet - Intégration de solutions - Bases de données - Développement d' applications - Conception de site web - Câblage réseaux etc.</p>
						</div>
						<!-- Card footer -->
						<div class="card-footer border-top bg-body p-4">
							<a class="icon-link icon-link-hover stretched-link p-0 m-0" href="#">Explorez ce service<i class="bi bi-arrow-right"></i> </a>
						</div>
					</div>
				</div>

				<!-- Service item -->
				<div class="swiper-slide">
					<div class="card card-img-scale bg-body overflow-hidden">
						<!-- Image -->
						<div class="card-img-scale-wrapper">
							<img src="assets/images/services/4by3/06.jpg" class="card-img-top img-scale" alt="service image">
						</div>
						<!-- Card body -->
						<div class="card-body p-4">
							<h6><a href="service-single.html">Informatique & réseaux</a></h6>
							<p class="mb-0">Quel que soit votre secteur d'activité, Advice Consulting vous fournit une gamme de produits et services de haute qualité afin de satisfaire vos plus grandes exigences !</p>
						</div>
						<!-- Card footer -->
						<div class="card-footer border-top bg-body p-4">
							<a class="icon-link icon-link-hover stretched-link p-0 m-0" href="#">Explorez ce service<i class="bi bi-arrow-right"></i> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Service END -->

		<!-- CTA -->
		<div class="d-flex align-items-center gap-2 mt-6">
			<ul class="avatar-group mb-0">
				<li class="avatar avatar-sm">
					<img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt="avatar">
				</li>
				<li class="avatar avatar-sm">
					<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
				</li>
				<li class="avatar avatar-sm">
					<div class="avatar-img rounded-circle text-bg-dark">
						<i class="bi bi-telephone text-white position-absolute top-50 start-50 translate-middle"></i>
					</div>
				</li>
			</ul>
			<p class="fw-normal mb-0">Advice Consulting va plus loin et vous offre divers services et produits issus divers domaines de la technologie : Biométrie, Contrôle d'accès, Gestion des files d'attente etc.... <a href="#" class="text-decoration-underline text-primary-hover fw-semibold">Prêt à lancer votre projet?</a></p>
		</div>
	</div>
</section>
<!-- =======================
Services END -->

<!-- =======================
Why us START -->
<section class="overflow-hidden pb-0">
	<div class="container">
		<div class="row align-items-center">
			<!-- Image -->
			<div class="col-lg-6 text-center position-relative mb-5 mb-lg-0">
				<!-- Image -->
				<div class="pe-lg-6 pe-xl-8"><img src="assets/images/about/20.jpg" class="rounded" alt=""></div>
			</div>

			<!-- Content -->
			<div class="col-lg-6 ms-auto">
				<!-- Title and content -->
				<h2 class="mb-lg-4">Nos Clients</h2>
				<p class="mb-lg-4">De prestigieuses Entreprises nous font confiance et ont fait de Advice Consulting, l'un de leurs prestataires privilégiés.</p>
				<!-- <a href="portfolio-list.html" class="btn btn-dark mb-0">Plongez dans nos projets</a> -->
				<hr class="my-4 my-lg-5"> <!-- Divider -->

				<!-- List -->
				<div class="row">
					<div class="col-sm-6">
						<ul class="list-group list-group-borderless">
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/1.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/2.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/3.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/4.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/5.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/6.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/7.jpg" class="rounded" alt=""></li>
						</ul>
					</div>

					<div class="col-sm-6">
						<ul class="list-group list-group-borderless">
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/8.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/9.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/10.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/11.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/12.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/13.jpg" class="rounded" alt=""></li>
							<li class="list-group-item heading-color fw-normal d-flex mb-0"><i class="bi bi-patch-check text-primary me-2"></i><img src="assets/images/patenaire/14.jpg" class="rounded" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Why us END -->

<!-- =======================
Work START -->
<section>
	<div class="container">
		<!-- Title -->
		<div class="inner-container-small text-center mb-4 mb-md-6">
			<h2>Des solutions pour améliorer votre quotidien</h2>
		</div>

		<div class="row step-process">
			<!-- Step item -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-body bg-transparent text-center">
					<!-- Icon -->
					<div class="icon-lg bg-dark text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-search fa-lg"></i>
					</div>
					<h5>Contrôle d'accès</h5>
					<p>Gérer les flux de personnes et contrôlez les accès à des zones sensibles de votre entreprise. Nous vous proposons des solution mêlant identification par empreinte digitale, badge et code sécret. </p>
				</div>
			</div>

			<!-- Step item -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-body bg-transparent text-center">
					<!-- Icon -->
					<div class="icon-lg bg-dark text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-bullseye fa-lg"></i>
					</div>
					<h5>Pointeuses Biométrique</h5>
					<p>Vous être conscient de l'intérêt d'un dispositif de pointage dans votre société mais n'avez pas les moyens d'investir dans une solution coûteuse ? Notre système de pointage par biométrie et badge est fait pour vous !</p>
				</div>
			</div>

			<!-- Step item -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-body bg-transparent text-center">
					<!-- Icon -->
					<div class="icon-lg bg-dark text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-rocket-takeoff fa-lg"></i>
					</div>
					<h5>Gestion de files d'attente</h5>
					<p>Pour améliorer la qualité de vos services et accroitre la satisfaction du client, dotez vos agences d'une solution de gestion de files d'attente de drenière génération.</p>
				</div>
			</div>

			<!-- Step item -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-body bg-transparent text-center">
					<!-- Icon -->
					<div class="icon-lg bg-dark text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-headset fa-lg"></i>
					</div>
					<h5>Nos Atouts</h5>
					<p>ADVICE CONSULTING s'appuie sur un effectif étudié et qualifié ainsi que sur un réseau de compétences avérées, dans les différents domaines dans lesquels la société exerce.

          Ce réseau est constitué d'ingénieurs issus de prestigieuses écoles, d'experts certifiés et de partenaires exerçant hors de la Côte dIvoire.</p>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- =======================
Work END -->

<!-- =======================
Video START -->
<!-- <section class="bg-parallax position-relative h-400px h-xl-750px" data-jarallax-video="https://www.youtube.com/watch?v=O41Nm6l0sbY">
	<div class="bg-overlay bg-dark opacity-3"></div>
</section> -->
<!-- =======================
Video END -->

<!-- =======================
Latest projects START -->
<!-- =======================
Latest projects END -->

<!-- =======================
Counter START -->
<section class="pb-0">
	<div class="container">
		<div class="row g-4 g-lg-5 justify-content-center">
			<!-- Counter item -->
			<div class="col-sm-6 col-md-4 text-center">
				<div class="display-1 heading-color d-flex justify-content-center">
					<span class="text-primary">></span>
					<span class="purecounter" data-purecounter-start="0" data-purecounter-end="30" data-purecounter-delay="300">0</span>
					<span class="mb-0">K</span>
				</div>
				<h6 class="text-body fw-normal position-relative">Clientèle mondiale</h6>
			</div>

			<!-- Counter item -->
			<div class="col-sm-6 col-md-4 text-center">
				<div class="display-1 heading-color d-flex justify-content-center">
					<span class="purecounter" data-purecounter-start="0" data-purecounter-end="99" data-purecounter-delay="300">0</span>
					<span class="text-primary">%</span>
				</div>
				<h6 class="text-body fw-normal position-relative">Exploitation des rapports d’activité</h6>
			</div>

			<!-- Counter item -->
			<div class="col-sm-6 col-md-4 text-center">
				<div class="display-1 heading-color d-flex justify-content-center">
					<span class="purecounter" data-purecounter-start="0" data-purecounter-end="350" data-purecounter-delay="300">0</span>
					<span class="text-primary">+</span>
				</div>
				<h6 class="text-body fw-normal position-relative">Réalisations à travers le monde</h6>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Counter END -->

<!-- =======================
Testimonials START -->
<section>
	<div class="container">
		<div class="row">
			<!-- Title and content -->
			<div class="col-md-4">
				<!-- Avatar Slider START -->
				<div class="avatar avatar-xl mb-md-4">
					<div class="swiper swiper-img-scale overflow-hidden" data-swiper-options='{
						"effect": "fade",
						"autoplay":{
							"delay": 1500,
							"disableOnInteraction": false
						}}'>
						<div class="swiper-wrapper">
							<!-- Slider item -->
							<div class="swiper-slide">
								<img class="avatar-img rounded-circle border border-2 border-white" src="assets/images/avatar/09.jpg" alt="avatar">
							</div>

							<!-- Slider item -->
							<div class="swiper-slide">
									<img class="avatar-img rounded-circle border border-2 border-white" src="assets/images/avatar/01.jpg" alt="avatar">
							</div>

							<!-- Slider item -->
							<div class="swiper-slide">
									<img class="avatar-img rounded-circle border border-2 border-white" src="assets/images/avatar/10.jpg" alt="avatar">
							</div>

							<!-- Slider item -->
							<div class="swiper-slide">
									<img class="avatar-img rounded-circle border border-2 border-white" src="assets/images/avatar/05.jpg" alt="avatar">
							</div>
						</div>
					</div>
				</div>
				<!-- Avatar Slider END -->

				<h2 class="mb-md-4">Écoutez l’expérience de nos clients ❤️</h2>
				<p class="mb-md-4">Découvrez les témoignages de nos clients et comment notre plateforme a transformé leur expérience.</p>
			</div>

			<div class="col-md-7 ms-auto">
				<!-- Tab content START -->
				<div class="tab-content mb-md-5" id="pills-tabContent">
					<!-- Tab content -->
					<div class="tab-pane fade" id="testi-one" role="tabpanel" aria-labelledby="testi-one-tab" tabindex="0">
						<!-- Icon -->
						<div class="icon-lg bg-dark text-white rounded-circle mb-4"><i class="bi bi-quote fa-xl"></i></div>
						<!-- Rating -->
						<ul class="list-inline mb-4">
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star-half-alt text-warning"></i></li>
						</ul>
						<h6 class="mb-2">"Des résultats transformés pour mon agence"</h6>
						<p class="heading-color">En tant qu’employeur, cette plateforme a largement dépassé mes attentes. Grâce à son interface intuitive et à la connexion directe avec des candidats parfaitement qualifiés, nous avons rapidement trouvé des talents de premier plan pour notre entreprise.</p>
					</div>

					<!-- Tab content -->
					<div class="tab-pane fade show active" id="testi-two" role="tabpanel" aria-labelledby="testi-two-tab" tabindex="0">
						<!-- Icon -->
						<div class="icon-lg bg-dark text-white rounded-circle mb-4"><i class="bi bi-quote fa-xl"></i></div>
						<!-- Rating -->
						<ul class="list-inline mb-4">
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star-half-alt text-warning"></i></li>
						</ul>
						<h6 class="mb-2">"Des résultats transformés pour mon agence"</h6>
						<p class="heading-color">En tant qu’employeur, cette plateforme a largement dépassé mes attentes. Grâce à son interface intuitive et à la connexion directe avec des candidats parfaitement qualifiés, nous avons rapidement trouvé des talents de premier plan pour notre entreprise.</p>
					</div>

					<!-- Tab content -->
					<div class="tab-pane fade" id="testi-three" role="tabpanel" aria-labelledby="testi-three-tab" tabindex="0">
						<!-- Icon -->
						<div class="icon-lg bg-dark text-white rounded-circle mb-4"><i class="bi bi-quote fa-xl"></i></div>
						<!-- Rating -->
						<ul class="list-inline mb-4">
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star-half-alt text-warning"></i></li>
						</ul>
						<h6 class="mb-2">"Des résultats transformés pour mon agence"</h6>
						<p class="heading-color">En tant qu’employeur, cette plateforme a largement dépassé mes attentes. Grâce à son interface intuitive et à la connexion directe avec des candidats parfaitement qualifiés, nous avons rapidement trouvé des talents de premier plan pour notre entreprise.</p>
					</div>
				</div>
				<!-- Tab content END -->

				<!-- Tab START -->
				<div class="nav nav-pills nav-pills-testimonial nav-justified mb-3" id="pills-tab" role="tablist">
					<!-- Tab item -->
					<div class="nav-item" role="presentation">
						<div class="nav-link d-flex align-items-center text-start p-3" id="testi-one-tab" data-bs-toggle="pill" data-bs-target="#testi-one" role="tab" aria-controls="testi-one" aria-selected="true">
							<!-- Avatar -->
							<div class="avatar flex-shrink-0">
								<img class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg" alt="avatar">
							</div>
							<!-- Info -->
							<div class="ms-2">
								<h6 class="mb-0">Louis Ferguson</h6>
								<p class="mb-0 small">Concepteur-développeur web</p>
							</div>
						</div>
					</div>

					<!-- Tab item -->
					<div class="nav-item" role="presentation">
						<div class="nav-link d-flex align-items-center text-start p-3 active" id="testi-two-tab" data-bs-toggle="pill" data-bs-target="#testi-two" role="tab" aria-controls="testi-two" aria-selected="false">
							<!-- Avatar -->
							<div class="avatar flex-shrink-0">
								<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
							</div>
							<!-- Info -->
							<div class="ms-2">
								<h6 class="mb-0">Emma Watson</h6>
								<p class="mb-0 small">Co-fondateur</p>
							</div>
						</div>
					</div>

					<!-- Tab item -->
					<div class="nav-item" role="presentation">
						<div class="nav-link d-flex align-items-center text-start p-3" id="testi-three-tab" data-bs-toggle="pill" data-bs-target="#testi-three" role="tab" aria-controls="testi-three" aria-selected="false">
							<!-- Avatar -->
							<div class="avatar flex-shrink-0">
								<img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt="avatar">
							</div>
							<!-- Info -->
							<div class="ms-2">
								<h6 class="mb-0">Samuel Bishop</h6>
								<p class="mb-0 small">Concepteur / designer produit numérique</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Tab END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Testimonials END -->

<!-- =======================
CTA START -->
<section class="position-relative z-index-2 pt-0">
	<div class="container position-relative">
		<div class="bg-dark rounded position-relative overflow-hidden p-4 p-sm-6" style="background:url(assets/images/bg/15.jpg) no-repeat; background-size:cover; background-position:center;">
			<div class="row align-items-center position-relative">
				<!-- Title and content -->
				<div class="col-md-6 col-xl-7 mb-4 mb-xl-0">
					<h2 class="text-white">Ne manquez rien, abonnez-vous dès maintenant</h2>
					<p class="text-white mb-0">Notre priorité a toujours été de garantir à nos clients la meilleure expérience possible.</p>
				</div>

				<!-- Input -->
				<form class="col-md-6 col-xl-4 ms-xl-auto">
					<input class="form-control mb-3" type="email" placeholder="Enter your email address">
					<a href="#" class="btn btn-primary mb-0 d-grid">Abonnez-vous sans attendre!</a>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- =======================
CTA END -->

<!-- =======================
Blog START -->
<section class="pt-0">
	<div class="container">

		<!-- Title -->
		<div class="inner-container-small text-center mb-4 mb-sm-5">
			<h2 class="mb-0">Lisez nos derniers contenus</h2>
		</div>

		<!-- Slider START -->
		<div class="swiper" data-swiper-options='{
			"loop": false,
			"spaceBetween": 30,
			"pagination":{
				"el":".swiper-pagination"
			},
			"breakpoints": {
				"576": {"slidesPerView": 1},
				"768": {"slidesPerView": 2},
				"992": {"slidesPerView": 3}
			}}'>

			<!-- Slider items -->
			<div class="swiper-wrapper">
				<!-- Blog item -->
				<div class="swiper-slide">
					<article class="card card-img-scale border p-2 h-100">
						<!-- Card image and badge -->
						<div class="card-img-scale-wrapper position-relative rounded overflow-hidden">
							<img src="assets/images/blog/4by3/03.jpg" class="card-img img-scale" alt="service image">
							<!-- Badge -->
							<div class="badge text-bg-dark position-absolute top-0 start-0 m-3">Technologie</div>
						</div>

						<!-- Card body -->
						<div class="card-body d-flex flex-column px-2">
							<div class="small mb-3"><i class="bi bi-calendar me-1"></i>15 Avril 2024</div>
							<h6 class="card-title mb-3"><a href="blog-single-v2.html" class="stretched-link">Un design fluide et performant avec Bootstrap et Mizzle</a></h6>
							<!-- Author info and button -->
							<div class="d-flex justify-content-between align-items-center mt-auto">
								<!-- Author -->
								<div class="d-flex align-items-center">
									<div class="avatar avatar-xs flex-shrink-0 me-2">
										<img class="avatar-img rounded" src="assets/images/avatar/02.jpg" alt="avatar">
									</div>
									<p class="mb-0">By ADVICE Consulting</p>
								</div>
								<!-- Button -->
								<a href="#" class="btn btn-round btn-dark flex-shrink-0"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
					</article>
				</div>

				<!-- Blog item -->
				<div class="swiper-slide">
					<article class="card card-img-scale border p-2 h-100">
						<!-- Card image and badge -->
						<div class="card-img-scale-wrapper position-relative rounded overflow-hidden">
							<img src="assets/images/blog/4by3/08.jpg" class="card-img img-scale" alt="service image">
							<!-- Badge -->
							<div class="badge text-bg-dark position-absolute top-0 start-0 m-3">Recherche</div>
						</div>

						<!-- Card body -->
						<div class="card-body d-flex flex-column px-2">
							<div class="small mb-3"><i class="bi bi-calendar me-1"></i>12 Avril 2024</div>
							<h6 class="card-title mb-3"><a href="blog-single-v2.html" class="stretched-link">Créez des sites web uniques grâce aux modèles HTML et à la puissance de Bootstrap</a></h6>
							<!-- Author info and button -->
							<div class="d-flex justify-content-between align-items-center mt-auto">
								<!-- Author -->
								<div class="d-flex align-items-center">
									<div class="avatar avatar-xs flex-shrink-0 me-2">
										<img class="avatar-img rounded" src="assets/images/avatar/04.jpg" alt="avatar">
									</div>
									<p class="mb-0">By Louis Ferguson</p>
								</div>
								<!-- Button -->
								<a href="#" class="btn btn-round btn-dark flex-shrink-0"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
					</article>
				</div>

				<!-- Blog item -->
				<div class="swiper-slide">
					<article class="card card-img-scale border p-2 h-100">
						<!-- Card image and badge -->
						<div class="card-img-scale-wrapper position-relative rounded overflow-hidden">
							<img src="assets/images/blog/4by3/07.jpg" class="card-img img-scale" alt="service image">
							<!-- Badge -->
							<div class="badge text-bg-dark position-absolute top-0 start-0 m-3">Design</div>
						</div>

						<!-- Card body -->
						<div class="card-body d-flex flex-column px-2">
							<div class="small mb-3"><i class="bi bi-calendar me-1"></i>08 Avril 2024</div>
							<h6 class="card-title mb-3"><a href="blog-single-v2.html" class="stretched-link">Design web sans effort avec Mizzle – Libérez votre potentiel créatif</a></h6>
							<!-- Author info and button -->
							<div class="d-flex justify-content-between align-items-center mt-auto">
								<!-- Author -->
								<div class="d-flex align-items-center">
									<div class="avatar avatar-xs flex-shrink-0 me-2">
										<img class="avatar-img rounded" src="assets/images/avatar/09.jpg" alt="avatar">
									</div>
									<p class="mb-0">By Allen Smith</p>
								</div>
								<!-- Button -->
								<a href="#" class="btn btn-round btn-dark flex-shrink-0"><i class="bi bi-arrow-up-right"></i></a>
							</div>
						</div>
					</article>
				</div>
			</div>

			<!-- Slider Pagination -->
			<div class="swiper-pagination swiper-pagination-primary position-relative mt-4"></div>
		</div>
	</div>
</section>
<!-- =======================
Blog END -->

</main>
